body {
  background-color: #E1E6E8;
  font-family: 'Libre Franklin', sans-serif;
}

header {
  text-align: center;
  text-transform: uppercase;
}

.player {
  text-align: center;

}
audio {
  width: 85%;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.search {
  text-align: center;
  border-top: border-bottom: 1px solid black;
  padding-top: 20px;
}

input {
  width: 75%;
  height: 25px;
}

button {
  height: 29px;
}

.results {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  padding-top: 25px;
}

.result {
  width: 250px;
  padding-bottom: 10px;
}

.art {
  height: 250px;
  width: 250px;
}

.track:hover {
  background-color: white;
}
