body {
  background-color: #E1E6E8;
  font-family: 'Libre Franklin', sans-serif;
}

header {
  text-align: center;
  text-transform: uppercase;
}

.player {
  text-align: center;
}
audio {
  width: 85%;
}
